#
# Configuration file 
# for the script https://github.com/nicolargo/ubuntupostinstall
#
# Ubuntu version: 12.04
# UI: Unity
#


# Actions to be executed before all the others steps
# Use && separator if there is more than 1 action
[preactions]
action_dummy = dpkg -l > /tmp/pkg-before.txt


# The repos section 
# ppa_xxx = ppa:ppauser/ppaname > Add the ppa to the system
# pkg_xxx = pkglist             > Add the package list to the system
# url_xxx = reposurl            > Add the repository URL to the system 
# key_xxx = key                 > Add the repository key to the system 
[repos]



# The packages section
# pkgname = pkglist > Add the pkglist to the system
[packages]
ubuntu-restrictive = ubuntu-restricted-extras

multimedia = nautilus-image-converter gimp gimp-plugin-registry ogmrip guvcview cheese openshot arista regionset

system = preload lsb-core gparted lm-sensors hardinfo xsensors synaptic gdebi mtp-tools mtpfs dkms thermald compizconfig-settings-manager compiz-plugins compiz-plugins-default
#fingerprint  = fprint_demo


unity = myunity
chromium = chromium-browser chromium-browser-l10n chromium-codecs-ffmpeg-extra 
xbmc = xbmc
vaapi = libva-glx1 libva-x11-1 vainfo
vaapi_gstreamer = gstreamer1.0-vaapi
vdpau = libvdpau-va-gl1 libvdpau1 mesa-vdpau-drivers vdpauinfo
#vaapi_mplayer = gnome-mplayer
vaapi_intel = libva-intel-vaapi-driver
vlc = vlc 
libreoffice_base = libreoffice-base



#vaapi_nvidia = vdpau-va-driver
#indicators =  indicator-multiload
pepperflash= pepperflashplugin-nonfree
flashback= gnome-session-flashback

#language_fr = language-pack-fr 

#packages for oem prep
pkg_oem = ubiquity-frontend-gtk oem-config-gtk oem-config-slideshow-ubuntu

remotesupport = gitso


# Actions to be executed after all the others steps
# Use && separator if there is more than 1 action
[postactions]
#action_vimcustom = wget https://raw.github.com/vgod/vimrc/master/auto-install.sh && chmod a+x auto-install.sh && ./auto-install.sh && rm -f ./auto-install.sh
#action_setright = chown -R $SUDO_USER:$SUDO_USER $HOME/.vimrc $HOME/.vim $HOME/.htoprc
action_pepflash = update-pepperflashplugin-nonfree --install
action_libdvdcss = /usr/share/doc/libdvdread4/install-css.sh
action_rtl8723be = cp rtl8723be.conf /etc/modprobe.d/rtl8723be.conf
action_skelconfig = mkdir /etc/skel/.config
action_skelvlc = mkdir /etc/skel/.config/vlc 
action_confvlc = cp vlcrc /etc/skel/.config/vlc
action_languefr = apt-get -y install `check-language-support -l fr`
action_langueen = apt-get -y install `check-language-support -l en`
action_skeldesktop = mkdir /etc/skel/Desktop
action_manualfr = wget http://shop.ekimia.fr/upload/Premiers_pas_avec_Ubuntu_14.04_Deuxieme_edition.pdf -O /etc/skel/Desktop/Premiers_Pas_Avec_Ubuntu_14.04-fr.pdf
action_wirelessintel = cp wirelessintel /etc/pm/power.d/wireless && chmod +x /etc/pm/power.d/wireless
action_amazonlauncherremove = rm /usr/share/applications/ubuntu-amazon-default.desktop

# Actions Spécifiques USER

action_launchersize = su - oem -c 'gsettings set org.compiz.unityshell:/org/compiz/profiles/unity/plugins/unityshell/ icon-size 24'
action_syncdeconf = cp ~/.config/dconf/user /etc/skel/.config/dconf/user
action_cleanaptcache = apt-get clean
action_dummy = dpkg -l > /tmp/pkg-after.txt
action_showbattery = su - oem -c 'gsettings set com.canonical.indicator.power show-percentage true && gsettings set com.canonical.indicator.power show-time true'
